<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rcwd.mapper.CommandMapper">

    <select id="list" resultMap="commandMap">
        <include refid="selectSql"/>
        WHERE c.hidden = false
        ORDER BY c.id, f.id
    </select>

    <sql id="selectSql">
        SELECT
        <include refid="commandColumns"/>,
        <include refid="sourceColumns"/>,
        <include refid="destinationColumns"/>,
        <include refid="filterColumns"/>,
        st.name ststatus,
        st.modifieddate stmodifieddate
        FROM rclonewatchdog.command c
        INNER JOIN rclonewatchdog.source s ON c.source = s.id
        INNER JOIN rclonewatchdog.destination d ON c.destination = d.id
        LEFT JOIN rclonewatchdog.filter f ON c.filter = f.id
        FULL OUTER JOIN (
            SELECT st.id, st.commandid, st.statustype, st.description, st.modifieddate, sty.statustype, sty.name, sty.description
            FROM rclonewatchdog.status st
            INNER JOIN rclonewatchdog.statustype sty on sty.statustype = st.statustype
            INNER JOIN (
                SELECT MAX(status.id) maxstid,
                commandid commandid
                FROM rclonewatchdog.status status
                GROUP BY commandid
            ) stmax ON stmax.maxstid = st.id AND stmax.commandid = st.commandid
        ) st ON st.commandid = c.id
    </sql>

    <select id="get" resultMap="commandMap">
        <include refid="selectSql"/>
        WHERE c.id = #{commandId}
        ORDER BY f.id
    </select>

    <sql id="commandColumns">
        c.id cid,
        c.command ccommand,
        c.name cname
    </sql>

    <sql id="sourceColumns">
        s.id sid,
        s.name sname,
        s.directory sdirectory
    </sql>

    <sql id="destinationColumns">
        d.id did,
        d.name dname,
        d.directory ddirectory,
        d.remote dremote
    </sql>

    <sql id="filterColumns">
        f.id fid,
        f.filter ffilter
    </sql>

    <resultMap id="commandMap" type="rcwd.model.Command">
        <id property="id" column="cid" javaType="long"/>
        <result property="name" column="cname"/>
        <result property="command" column="ccommand"/>
        <result property="status" column="ststatus"/>
        <result property="statusChangeDate" column="stmodifieddate"/>
        <association property="source" resultMap="sourceMap"/>
        <association property="destination" resultMap="destinationMap"/>
        <association property="filters" resultMap="filterMap"/>
    </resultMap>

    <resultMap id="sourceMap" type="rcwd.model.Directory">
        <id property="id" column="sid"/>
        <result property="name" column="sname"/>
        <result property="directory" column="sdirectory"/>
    </resultMap>

    <resultMap id="destinationMap" type="rcwd.model.Destination">
        <id property="id" column="did"/>
        <result property="name" column="dname"/>
        <result property="directory" column="ddirectory"/>
        <result property="remote" column="dremote"/>
    </resultMap>

    <resultMap id="filterMap" type="rcwd.model.Filter">
        <id property="id" column="fid"/>
        <result property="filter" column="ffilter"/>
    </resultMap>

</mapper>