<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="rcwd.mapper.ProfileMapper">

    <select id="list" resultMap="profileMap">
        <include refid="selectProfile"/>
        ORDER BY c.id
    </select>

    <select id="get" resultMap="profileMap">
        <include refid="selectProfile"/>
        WHERE p.id = #{profileId}
    </select>

    <sql id="selectProfile">
        SELECT
        p.id pid,
        p.name pname,
        <include refid="rcwd.mapper.CommandMapper.commandColumns"/>,
        <include refid="rcwd.mapper.CommandMapper.sourceColumns"/>,
        <include refid="rcwd.mapper.CommandMapper.destinationColumns"/>,
        <include refid="rcwd.mapper.CommandMapper.filterColumns"/>
        FROM rclonewatchdog.profile p
        INNER JOIN rclonewatchdog.command c ON p.commandid = c.id
        INNER JOIN rclonewatchdog.source s ON c.source = s.id
        INNER JOIN rclonewatchdog.destination d ON c.destination = d.id
        LEFT JOIN rclonewatchdog.filter f ON c.filter = f.id
    </sql>

    <resultMap id="profileMap" type="rcwd.model.Profile">
        <id property="id" column="pid" javaType="long"/>
        <result property="name" column="pname"/>
        <association property="commands" resultMap="rcwd.mapper.CommandMapper.commandMap"/>
    </resultMap>

</mapper>